body{
  background-color: #fbb034 ;
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.equals {
  grid-column: 3 / 5;
  background-color: rgb(243, 61, 29);
}